

{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="{{ asset('build/app.css') }}">

<div class="alert alert-dark" role="alert">
{% trans %}Courrier envoyé à{% endtrans %} {{ command.VisitorEmail }}
<p>{% trans %}Votre achat se compose des éléments suivants:{% endtrans %}</p>
</div>

    {% for ticket in command.ticketsOrdered %}
<div class="container">
    <div class="row justify-content-md-center">
    <div class="col-8">
                {% if command.DayType == 1 %}<img class="backimage" src="dayfull.jpg" style="background 50% repeat-x;">{% else %}<img class="backimage" src="{{ absolute_url(asset('build/dayhalf.jpg'))}}" style="background 50% repeat-x;">{% endif %}
                    <div class="card text-dark bg-warning mb-3">
                        <p class="card-header">{% trans %}Numéro du ticket:{% endtrans %} {{ command.Name }}-{{ ticket.id }}</p>
                            <div class="card-body">
                                <div class="card-title">{% trans %}Nom de l'acheteur:{% endtrans %} {{ ticket.VisitorSurName }}</div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{% trans %}Prénom de l'acheteur:{% endtrans %} {{ ticket.VisitorName}}</li>
                                    <li class="list-group-item">{% trans %}Date de visite souhaitée:{% endtrans %} {{ command.DesiredDate|date("d/m/Y") }}</li>
                                    <li class="list-group-item">{% trans %}Date d'achat:{% endtrans %} {{ ticket.Date|date("d/m/Y") }}</li>
                                    <li class="list-group-item">{% trans %}Type de journée:{% endtrans %} {% if command.DayType == 1 %} {% trans %}Journée entière{% endtrans %} {% else %} {% trans %}Demie-journée{% endtrans %} {% endif %}</li>
                                    <li class="blockquote-footer"><h3>{% trans %}Prix:{% endtrans %} {{ ticket.PriceTag }} euros<h3></li>
                                </ul>
                        </div>
                    </div>
        </div>
    </div>
</div>
    {% endfor %}


<style>
.li {
    list-style-type: none;
}
</style>
{% endblock %}