{% extends 'base.html.twig' %}

{% block body %}
<script src="https://js.stripe.com/v3/"></script>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Récapitulatif de votre commande</h4>
        </div>
              {% set fullPrice = 0 %}
        <div="card-body">
              {% for tickets in ticket %}
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">Nom de l'acheteur: {{ tickets.VisitorSurName }}</li>
                      <li class="list-group-item">Prénom de l'acheteur: {{ tickets.VisitorName}}</li>
                      <li class="list-group-item">Date de visite souhaitée: {{ tickets.DesiredDate|date("d/m/Y") }}</li>
                      <li class="list-group-item">Date d'achat: {{ tickets.Date|date("d/m/Y") }}</li>
                      <li class="list-group-item">Type de journée: {% if tickets.DayType == 1 %} Journée entière {% else %} Demie-journée {% endif %}</li>
                      <li class="list-group-item">Prix: {{ tickets.PriceTag }} euros</li>
                  </ul>
                  {% set fullPrice = fullPrice + tickets.PriceTag %}
              {% endfor %}
        </div>
      <div class="col-12">
            <h4>Le coût total de votre achat est de:</h4>
            <h4 class="text-center">{{ fullPrice }} euros.</h4>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-6">
    <h4 class="text-center">Souhaitez-vous poursuivre?</h4>
    <a href="/" class="btn btn-dark" role="button">Retour à l'accueil</a>
    <a class="btn btn-info" data-toggle="collapse" href="#collapseticket" role="button" aria-expanded="true" aria-controls="collapseticket">
    Oui, je souhaite payer ma commande
    </a>
    <div class="collapse" id="collapseticket">
        <div class="card card-body">
                

                <form action="/executePayment/" method="post" id="payment-form">
                <div class="form-row">
                    <label for="card-element">
                    Entrez votre numéro de CB
                    </label>
                    <div id="card-element" class="form-control"></div>
                    <div id="card-errors" class="help-block" role="alert"></div>
                </div>
              
                <button>Payer</button>
                </form>
        </div>
    </div>
    <a href="/formtest/" class="btn btn-dark" role="button">Non, je souhaite modifier ma commande</a>
  </div>
</div>

<script>
// Create a Stripe client.
var stripe = Stripe('pk_test_eALE5Dsa8rGnr0TfGJTY5b7E');

// Create an instance of Elements.
var elements = stripe.elements();

// Create an instance of the card Element.
var card = elements.create('card');

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>

{% endblock %}

