{% extends 'base.html.twig' %}

{% block body %}
<h3>Merci, votre commande a bien été enregistrée!</h3>

<p>Un e-mail de confirmation a été envoyée à l'adresse {{ order.VisitorEmail }}</p>

<h4>Récapitulatif de votre commande</h4>
    {% set fullPrice = 0 %}

    {% for tickets in ticket %}
        <ul>
            <li>Nom de l'acheteur: {{ tickets.VisitorSurName }}</li>
            <li>Prénom de l'acheteur: {{ tickets.VisitorName}}</li>
            <li>Date de visite souhaitée: {{ tickets.DesiredDate|date("d/m/Y") }}</li>
            <li>Date d'achat: {{ tickets.Date|date("d/m/Y") }}</li>
            <li>Type de journée: {% if tickets.DayType == 1 %} Journée entière {% else %} Demie-journée {% endif %}</li>
            <li>Prix: {{ tickets.PriceTag }} euros</li>
        </ul>
        {% set fullPrice = fullPrice + tickets.PriceTag %}
    {% endfor %}

    <h4>Le coût total de votre achat est de:</h4>
    {{ fullPrice }} euros.

{% endblock %}