{% extends 'base.html.twig' %}

{% block body %}
    {% for ticket in ticketList %}
    <ul>------------
        <li>Numéro du ticket: {{ ticket.id }}</li>
        <li>Nom de l'acheteur: {{ ticket.VisitorSurName }}</li>
        <li>Prénom de l'acheteur: {{ ticket.VisitorName}}</li>
        <li>Date de visite souhaitée: {{ ticket.DesiredDate|date("d/m/Y") }}</li>
        <li>Date d'achat: {{ ticket.Date|date("d/m/Y") }}</li>
        <li>Type de journée: {% if ticket.DayType == 1 %} Journée entière {% else %} Demie-journée {% endif %}</li>
        <li>Prix: {{ ticket.PriceTag }} euros</li>
    </ul>
    {% endfor %}

{% endblock %}